MEDIA_PATH=/your/media/path

HOMEPAGE_VAR_HA_API_KEY=your_api_key

HOMEPAGE_VAR_PLEX_API_KEY=your_api_key

HOMEPAGE_VAR_JELLYFIN_API_KEY=your_api_key

HOMEPAGE_VAR_TAILSCALE_API_KEY=your_api_key

HOMEPAGE_VAR_SEERR_API_KEY=your_api_key

HOMEPAGE_VAR_RADARR_API_KEY=your_api_key

HOMEPAGE_VAR_SONARR_API_KEY=your_api_key

HOMEPAGE_VAR_LIDARR_API_KEY=your_api_key

HOMEPAGE_VAR_PROWLARR_API_KEY=your_api_key

HOMEPAGE_VAR_QBITTORRENT_USERNAME=your_username

HOMEPAGE_VAR_QBITTORRENT_PASSWORD=your_password